.terraform
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

.idea
.vscode
.venv

data/
database
logs

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*

*.exe
.terraform/
*.db
data/s3_upload/
data/sample/
*.PARQUET
*.csv 

uv.lock
